.home {
    margin-top: 100px;
    margin-bottom: 71px;
}
.lastService{
    border-color: rgb(141, 139, 138);
    border-bottom: 2px;
    border-style: solid;
    border-radius: 12px;
    margin: 0 5% 2% 5%;
    background-color: rgb(245, 245, 235);
    color: rgb(54, 3, 13);
}