.header{
    background-color: #0A016A;
    height: 70px;
    padding: 0;
    margin: 0;
    display: grid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
    
}
p {
    color: white;
    margin-left: 5%
}