
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 1,
  'opsz' 48;
  color: #19191A;
  font-size: 35px;
  
  
}
.footer{
    background-color: #E8E8ED;
    display:flex;
    justify-content: space-around;
    align-items:center ;
    height:70px ;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
