.App {
  display: inline;
  
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  
  
}
.footer{
  
  bottom: 0;
  position: fixed;
  width: 100%;
  
  
}
.home{
  margin: 80px 0 0 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
